@{
    ViewData["Title"] = "Login";
}

<div class="text-center main-login-container">
    <form class="column-display"action='@Url.Action("Account")' method="POST" >
        <h1>Inicia Sesion</h1>
        <label>Ingresa tu usuario</label>
        <input type="text" id="username" name="user" placeholder="JohnDoe333">
        <label>Ingresa tu contraseña</label>
        <input type="text" id="password" name="passw" placeholder="*******">
        <input type="hidden" name="requestedType" value="login">
        <input type="submit" value="Iniciar Sesion">
    </form>
    <div class="row-display">    
        <a href='@Url.Action("SignUp")'> No tengo cuenta</a>
        <a href="http://">Olvidé mi contraseña</a>
    </div>

</div>
