@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center main-login-container">
    <form class="column-display" asp-area="" asp-controller="Home" asp-action="Account" method="POST">
        <h1>Registrate</h1>
        <label>Creá tu usuario</label>
        <input type="text" id="username" placeholder="StartDust_03">
        <label>Creá tu contraseña</label>
        <input type="text" id="password" placeholder="*******">
        <input type="submit" value="Registrarme">
    </form>
</div>