@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center main-login-container welcome">
    <img src="/img/user.jfif" style="border-radius: 50%;">
    @{
        <span>Hola, @ViewBag.User!</span>
    }
</div>