html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.column-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-width {
  width: 30rem;
}

.personal-form-width {
  
  width: 60rem;
}

input{
  align-self: stretch;
}

.row-display {
  display: flex;
  flex-direction: row;
}

.row-display a {
  padding: 0 5px;
  margin: 5px 0;
}

.main-login-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.welcome img {
  width: 14rem;
  height: auto;
}

form {
  margin-top: 6rem;
}

.text-center {
  margin-top: 3rem;
}